*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    font-family: sans-serif;
    overflow: hidden;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}
.servers{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272a;
    overflow-y: scroll;
    height: 100vh;
    width: 70px;
}
.logo > img{
height: 45px;
width: 50px;
border-radius: 30%;
cursor: pointer;
border: none;
}
.logo::before{
    content: "";
    height: 2px;
    width: 35px;
    position: absolute;
    top: 9%;
    left: 25%;
    background-color:#353a3f;
}
.logo::after{
    content: "";
    height: 35px;
    width: 3px;
    position: absolute;
    top: 2.1%;
    left: 0%;
    background-color: #fff;
    border-radius: 2px;
}
.server-logo{
    position: relative;
}
.server-logo > img{
    transition: 0.3s ease-in-out;
}
.server-logo > img:hover{
    cursor: pointer;
    border-radius: 30%;
    transition: 0.3s ease-in-out;
}
.server-logo::after{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    right: 110%;
    background-color: #fff;
    border-radius: 50%;
}
.msg-count{
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    background-color: #fc3c3c;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    outline: 3px solid #23272a;
    right: 10%;
    top: 70%;
}
::-webkit-scrollbar{
    width: 0;
}

.sidebar{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 250px;
    height: 100vh;
    background-color: #2f3135;
    color: gray;
}

.side-top{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2f3135;
    color: #fff;
    border-bottom: 2px solid #26282c;
    height: 20px;
}

.side-top > input{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    color: grey;
    background-color: #1d1d1d;
    border-radius: 3px;
    padding: 5px;
    width: 90%;
}

.side-icon{
    color: #fff;
    background-color: #40464b;
    cursor: pointer;
}

.side-icon > i{
    margin-left: 20px;
}
.side-icon > span{
    margin-left: 10px;
    font-weight: 600;
}
.sidebar-users{
    flex: 1;
    overflow: scroll;
}
.user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
}

.sidebar-header{
    display: flex;
    align-items: center;
}
.sidebar-adduser{
    cursor: pointer;
}
.sidebar-adduser:hover{
    color: #fff;
}
.sidebar__user{
    display: flex;
    padding: 5px;
align-items: center;
background-color: #2f3135;
color: gray;
cursor: pointer;
}

.sidebar__user:hover{
    color: #fff;
    background-color: #40464b;

}
.sidebar__user > div {
    position: relative;
}

.sidebar__user > div > img{
    height: 35px;
    width: 35px;
    margin: 0;
}
.sidebar__user > h4 {
    margin-left: 15px;
}
.status{
    height: 10px;
    width: 10px;
    background-color: #4fb185;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 65%;
    outline: 3px solid #2f3135;
}

.sidebar-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292a2d;
    padding-left: 10px;
}
.sidebar-profile > div {
    position: relative;
}
.sidebar-profile > div > img {
    height: 30px;
    width: 30px;
    margin: 0;
}

.side-profileinfo{
    flex: 1;
    padding: 10px;

}

.side-profileinfo > h3 {
    color: #fff;
    font-size: 15px;
}
.side-profileinfo > p {
    color: #fff;
    font-size: 15px;
}
.side-profileinfo > i {
    padding: 10px;
}