
* {
    margin: 0;
    padding: 0;
    /* color: var(--first-color); */
    
}

:root {
    --header-height: 3rem;

    --hue-color: 110;




    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.12rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;


    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

body.dark-theme {

    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

body {
    display: flex;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #252525;
    color: var(--text-color);
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}
.serverss{margin-top: 50px;
}
.icon-set{
    margin-top: 300px;
    padding: 50px;
    color: #fc3c3c;
    font-size: 30px;
}
.icon-set:hover{
    /* color: #fff; */
    cursor: pointer;
    background-color: var(--first-color-alt);
}

.servers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    overflow-y: scroll;
    height: 950px;
    width: 70px;
    border-radius: 25px;
    margin-left:18px ;
    margin-top: 12px;
    /* box-shadow: 2px 6px 100px #ffffffb6; */
    
}

.logo > img {
    height: 45px;
    width: 50px;
    border-radius: 30%;
    cursor: pointer;
    border: none;
    
}

.logo::before {
    content: "";
    height: 2px;
    width: 35px;
    position: absolute;
    top: 9%;
    left: 25%;
    background-color: #353a3f;
   
}

.logo::after {
    content: "";
    height: 35px;
    width: 3px;
    position: absolute;
    top: 2.1%;
    left: 0%;
    background-color: #fff;
    border-radius: 2px;
}

.server-logo {
    position: relative;
    margin-top: 5px;
}


.server-logo > img {
    transition: 0.3s ease-in-out;
}

.server-logo > img:hover {
    cursor: pointer;
    border-radius: 30%;
    transition: 0.3s ease-in-out;
}

.server-logo::after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    right: 110%;
    background-color: #fff;
    border-radius: 50%;
}

.message__count {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    background-color: #fc3c3c;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    outline: 3px solid #23272a;
    right: 10%;
    top: 70%;
}
.ide{
    margin-top: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--first-color);
    font-size: 30px;
}
.ide:hover{
    cursor: pointer;
    color: var(--first-color-alt);
}
.ide1{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--first-color);
    font-size: 30px;
}
.ide1:hover{
    cursor: pointer;
    color: var(--first-color-alt);
}
.setting-box

{
    /* margin-top: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: var(--first-color);
    font-size: 30px;

}
.setting-box:hover{
    cursor: pointer;
    color: var(--first-color-alt);
}

::-webkit-scrollbar {
    width: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 250px;
    height: 950px;
    background-color: #333333;
    color: var(--first-color);
    border-radius: 25px;
    margin-left: 14px;
    margin-right: 14px;
   margin-top: 12px;
   position: ;
   /* box-shadow: 2px 6px 100px #ffffffb6; */

}



.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; border-radius: 25px;
    background-color: #1e1c1c;
    color: color: var(--first-color);
    border-bottom: 2px solid #0858f8;
    height: 20px;
}


.sidebar__icon {
    padding: 20px;
}
.fas:hover{
    cursor: pointer;
    color: var(--first-color-alt);
}

.sidebar__icon:hover {
    color: var(--first-color-alt);
    background-color: #40464b;
    cursor: pointer;
}

.sidebar__icon > i {
    margin-left: 20px;
}

.sidebar__icon > span {
    margin-left: 10px;
    font-weight: 600;
}

.sidebar__users {
    flex: 1;
    /* overflow: scroll; */
}
.useer{
        /* overflow: hidden; */
        overflow-y: scroll;
        max-height: 898px;
        border-radius: 25px;}

.sidebar__usersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333333;
    color: var(--first-color);
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__addUser {
    cursor: pointer;
}

.sidebar__addUser:hover {
    color: var(--first-color-alt);
    
}

.sidebar__user {
    display: flex;
    padding: 5px;
    align-items: center;
    background-color: #333333;
    color: var(--first-color);
    cursor: pointer;
}

.sidebar__user:hover {
    color: var(--first-color-alt);
    background-color: #40464b;
}

.sidebar__user > div {
    position: relative;
}

.sidebar__user > div > img {
    height: 35px;
    width: 35px;
    margin: 0;
}

.sidebar__user > h4 {
    margin-left: 15px;
}

.status {
    height: 10px;
    width: 10px;
    background-color: #4fb185;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 65%;
    outline: 3px solid #2f3135;
}

.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3c3e;
    padding-left: 10px;
}

.sidebar__profile > div {
    position: relative;
}

.sidebar__profile > div > img {
    height: 30px;
    width: 30px;
    margin: 0;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo > h3 {
    color: var(--first-color);
    font-size: 15px;
}

.sidebar__profileInfo > p {
    color: var(--first-color);
    font-size: 10px;
}

.sidebar__profileIcons > i {
    padding: 10px;
}
/* .server-classified{
    overflow-y: scroll;
    position: relative;
} */
.server-container{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 250px;
    height: 950px;
    background-color: #333333;
    color: var(--first-color);
    border-radius: 25px;
    margin-left: 14px;
    margin-right: 14px;
   margin-top: 12px;
}
.server-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    padding: 15px; border-radius: 25px;
    background-color: #1e1c1c;
    color: var(--first-color);
    border-bottom: 2px solid var(--body-color);
    height: 20px;
    font-size: 20px;
    /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;

}
.server-type{
    /* margin-top: 20px; */
    position: relative;
    /* set the height of scrolling div as per your requirement */
    overflow-y: scroll;
    /* add some padding to prevent content from being hidden behind fixed div */
    /* padding-top:20px height of fixed div; */
    overflow-y: scroll;
}
.server-text-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 7px;

    /* background-color: #1e1c1c; */
    color: var(--first-color);
    border-bottom: 1px solid #111111;
    height: 20px;
    font-size: 17px;
}
.server-channel{
    padding: 15px 45px 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;

}
.voice-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 7px;
    /* background-color: #1e1c1c; */
    color: var(--first-color);
    border-bottom: 1px solid #111111;
    height: 20px;
    font-size: 17px;

}
.sc{
    margin: 10px 0px 10px;
    padding: 2px;
    /* background-color: #191919; */
}
.chat {
    display: flex;
    flex-direction: column;
    height: 950px;
    margin-right: 14px;
    margin-top: 12px;
    max-width: 1300px;
    flex: 1;
    border-radius: 25px;
    background-color:#333333;
    color: var(--first-color);
    /* box-shadow: 2px 6px 100px #ffffffb6; */
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    border-bottom: 2px solid #0858f8;
    background-color: #1e1c1c;
    border-radius: 25px;
    box-shadow: #5971a2;
    transition: all 0.3s;
}

.chatHeader__left {
    display: flex;
    align-items: center;

    font-size: 15px;
}

.chatHeader__Dm {

    font-size: 20px;
    padding: 10px;
}

.chatHeader__right {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-right: 40px;
}

.search {
    display: flex;
    align-items: center;
    color: var(--first-color);
    background-color: #1e1c1c;
    border-radius: 3px;
    padding: 5px;
}

.search > input {
    background-color: transparent;
    outline-width: 0;
    color: var(--first-color);
    border: none;
}

.chat__messages {
    flex: 1;
    overflow: scroll;
}

.message {
    display: flex;
    align-items: center;

    padding: 20px;

}

.message__info {
    margin-left: 20px;
}

.message__timestamp {

    margin-left: 20px;
    font-size: x-small;
}

.message__info > p {
    width: 300px;
    word-wrap: break-word;
}

.chat__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 25px;
    margin: 20px;
    background-color: #1e1c1c;
    color: var(--first-color);
}

.chat__input > form {
    flex: 1;
}

.chat__input > form > input {
    padding: 5px;
    background-color: transparent;
    border: none;
    outline-width: 0;
    color: var(--first-color);
    width: 100%;
}

.chat__inputButton {
    display: none;
}

.chat__inputIcons > i {
    margin-left: 10px;
}

@media (max-width: px) {
    .servers {
        display: none;
    }

    .sidebar {
        width: 70px;
        align-items: center;
    }

    .sidebar__icon > span {
        display: none;
    }

    .sidebar__icon > i {
        margin: 0;
    }

    .sidebar__usersHeader {
        justify-content: center;
    }

    .sidebar__header {
        display: none;
    }

    .sidebar__user > h4 {
        display: none;
    }

    .sidebar__profile {
        flex-direction: column;
        padding: 0;
    }

    .sidebar__profileInfo {
        display: none;
    }

    .sidebar__profileIcons {
        display: flex;
    }

    .sidebar__profileIcons > i {
        padding: 5px;
    }

    .chatHeader {

        justify-content: center;
    }

    .chatHeader__left {
        display: none;
    }
}

.activity-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;
    width: 220px;
    color: var(--first-color);
    margin-top: 12px;
    border-radius: 25px;
    height: 950px;
    /* box-shadow: 2px 6px 100px #ffffff93; */
}
.activity__top{
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    padding: 15px;
     border-radius: 25px;
    background-color: #1e1c1c;
    color: var(--first-color);
    border-bottom: 2px solid #0858f8;
    height: 20px;
}
.activity__top:hover{
    cursor: pointer;
    color: var(--first-color-alt);
}

.content {
  display: none;
}

.content.active {
  display: block;
  /* add any styling for active div here */
}